@import 'main.less';         // Get all the main css stuff

/* ================================================================== *\
   Adjustments from Main Stylesheet
\* ================================================================== */

.main {
    margin-top:2rem;
}

/* ================================================================== *\
   Main Post Dashboard
\* ================================================================== */

.post-partial {
    border-left: @blockquote-border-width/2 solid @gray-lighter;
    margin:0 -(@base-rem-unit + @blockquote-border-width/2);
    margin-bottom: @base-rem-unit * 1.5;
    position: relative;

    .settings-toggle {
        padding: @base-rem-unit @base-rem-unit;
        transition: background-color 500ms ease-in;

        &:hover {
            cursor: pointer;
            background-color: @gray-lighter;
        }

        .title {
            text-decoration: none;
            line-height: 2.25rem;
            margin:0;
            padding-right:2rem;
        }

        .kind {
            margin:0;
            font-size:0.8rem;
            line-height: 2.25rem;
            font-weight:300;
            color:@gray;
        }

        .pub-date {
            font-size:0.8rem;
            font-weight:300;
            margin-top:0.25rem;
        }
    }

    &.published {
        border-color:@green;
    }



    transition: background-color 500ms ease-in;
    background-color: @white;
    
    &:hover {
        background-color: @gray-lightest;


        .fieldset-border legend {
            background: @gray-lightest;
        }

    }
}

/*
 *f  Post Settings
 */

.settings {
    padding: @base-rem-unit @base-rem-unit;
    display:block;

    * {
        opacity:1;
        transition: opacity 100ms ease-out;
    }

    .fieldset-border legend {
        transition: background-color 500ms ease-in;
        background:@white;
    }

    &.hidden {
        * {
            opacity:0;
        }
    }
}


/*
 *  Post Filter
 */

.post-filter {
    text-align: center;
    margin:0 -(@base-rem-unit + @blockquote-border-width/2);
    margin-bottom: @base-rem-unit * 1.5;

    .button {
        border-right:1px solid @gray-dark;
        outline:none;

        &.active {
            background-color:@gray-dark;
        }

    }

    .button:last-child {
        border-right:none;
    }

    .post-count {
        position: absolute;
        width:100%;
        line-height:26px;
        margin-top:4px;
        z-index:-1;
    }
}



/* ================================================================== *\
   Form Elements
\* ================================================================== */

.inline-radio {
    list-style-type: none;
    padding-left:0;

    li {
        display:inline-block;
        padding-right:2rem;
    }
}


/*
 *  New Post Input Box
 */

.new-post {
    .title-input {
        margin-bottom:2rem;
    }

    input {
        font-size:1.5rem;
        line-height: 1.5;
        border: none;
        background: transparent;
        box-shadow: none;
        border-radius: 1px;
        border-bottom: 1px dotted @gray-darkest;
        transition: all .3s ease-out;

        &:active, &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid @gray-darkest;
        }
    }

    .new-post-settings {

    }
}


/*
 *  Errors
 */

.has-error {
    position: relative;
    overflow: hidden;

    input {
        border-color:@red;
    }

    .help-block {
        &::before, &::after {
            background-color: @red;
        }
    }


}


.hidden {
    display:none;
}

/* ================================================================== *\
   Icon Buttons
\* ================================================================== */


button.useicons:hover {
  opacity: 1;
}

button.useicons {
  transition: opacity 400ms;

  font-family: inherit;
  background: none;
  cursor: pointer;
  font-size: 25px;
  color: @gray-darkest;
  opacity: 0.5;
  padding: 0px;
  height: 32px;
  width: 25px;
  border: 0px;

}

