@import 'framework.less';         // Get all the framework stuff

/* ================================================================== *\
   Styles ($styles)
\* ================================================================== */

a {
    transition: all 150ms ease-out;

    text-decoration: none;

    &:hover {
            color:@red !important;
        }
}

hr {
    width:50%;
    border-color:@gray-light;
    border-top: 1px solid @gray-lightest;
    margin:3.5rem auto;
}

blockquote {
    border-color:@red;
}

p a {
    text-decoration: underline;
}

.document {
    border-top:5px solid @heading-font-color;
    border-bottom:5px solid @heading-font-color;
}
/* ================================================================= *\
   Site Header
\* ================================================================== */


.site-head {
    padding:1rem 0;

    a {
        color: @heading-font-color;
        line-height:1.75;
    }

    font-family: @nav-font-family;
}

.site-head-border {
    border-bottom:1px solid @gray-lighter;

}

/*
 *  Banner & Name
 */

.name {
    margin:0 0 2rem;
}


/*
 *  Site Navigation
 */

.nav-item {
    display:inline-block;
}


/* Medium-sized breakpoint 600px */
@media only screen and (min-width: @grid-breakpoint-medium) {
    @nav-vertical-pad : 1.5rem;

    .site-head {
        padding:@nav-vertical-pad 0;

        a {
            font-size:@8-size;
            padding:@nav-vertical-pad 1rem;
            line-height:1;
        }
    }

    .name {
        margin:0;
    }
}
/* Large-sized breakpoint 960px */
@media only screen and (min-width: @grid-breakpoint-large) {


}


/* ================================================================== *\
   Main Area
\* ================================================================== */

.main {
    margin-top:2rem;
    margin-bottom:2rem;
}

.page-content {
    margin:0 auto;
    position: relative;
    max-width:620px;
}



/* Medium-sized breakpoint */
@media only screen and (min-width: @grid-breakpoint-medium) {

    .main {
        margin-top:5rem;
        margin-bottom:5rem;
    }

    .page-content {
        width:90%;
    }
}
/* Large-sized breakpoint */
@media only screen and (min-width: @grid-breakpoint-large) {
    .page-content {


    }
}
/* ================================================================== *\
   Home Page
\* ================================================================== */

.home {
    .main {
        margin-top:0;
    }
    .home-head {
        margin: 2rem auto 3rem;
        .name {
            padding: 1rem 5rem 2rem;
            font-size:@3-size;
            text-align:center;
            a {
                padding: 1rem 2rem;
                border-bottom:@gray-light 1px solid;
            }
        }

        .home-nav {
            position:absolute;
            top:0;
            right:0;
            a {
                padding:10px 21px;
            }
        }

    }
}

/* ================================================================== *\
   Posts
\* ================================================================== */

.post-full {
    position: relative;
    header {
        margin-bottom: 2rem;
    }

    .title {
        line-height: 1;

        a {
            color:@heading-font-color;
        }
    }

    .category {
        a {
            color:@gray-light;
        }
        font-size:@7-size;
    }

    .link_url {
        font-size:@8-size;

        a {
            color:@gray-light;
        }

        .useicons {
            font-size:75%;
            vertical-align: middle;
            padding-right:0.5rem;
        }
    }

    img {
        margin:1rem auto;
        border-radius: 5px;
    }

    figure img {
        margin-top:0.5rem;
    }

    .post-footer {
        margin:1rem 0 4rem;
        a {
            font-size:@9-size;
            text-decoration: none;
            .useicons {
                padding-right:0.5rem;
                vertical-align: middle;
                color:@red;
            }
            .pub_date {
                transition: all 150ms ease-out;
                color: @gray;
                font-family: @heading-font-family;
            }

            &:hover .pub_date {
                color:@red;
            }
        }
    }
}


.comment-list {
    margin-top:3rem;
    .comment {
        margin:3rem 0;
        padding-left:64px;
        position: relative;

        .date {
            color:@gray-light;
            font-size: @9-size;
            font-family: @heading-font-family;
        }

        .image {
            position: absolute;
            left:0;
        }

        .name {
            line-height: 48px;
        }

        .comment-content {
            margin-top:1rem;
        }
    }
}

.comment-form {

    .form-group {
        margin-top:1rem;
    }

    input, textarea {
        border-color: @gray-light;

        &:active, &:focus {
            box-shadow: none;
            border-color:@heading-font-color;
        }
    }

    label {
        color: @gray-light;
    }

    .help-block{
        color: @gray-light;
    }

    /*
     *  Errors
     */

    .has-error {
        input, textarea {
            border-color:@red;
        }

        label, .help-block {
            color:@red;
        }
    }

    .button {
        background-color:@red;
        color:@white;

        &:hover, &:focus {
            background-color: darken(@red, 10%)
        }
    }
}



/* LARGE-sized breakpoint */
@media only screen and (min-width: @grid-breakpoint-large) {
    .post-full {
        .category {
            position: absolute;
            right:100%;
            top:0;
            margin-right:1rem;
        }
    }
}

/* ================================================================== *\
   Notes Page
\* ================================================================== */

.pagination {
    text-align: center;

    .page-link {
        color:@heading-font-color;
        padding:0 1rem;
    }

    .disabled {
        padding:0 0.5rem;
        color:@gray-lighter;
    }

    .useicons {
        color:@gray-lighter;
    }
}

/* ================================================================== *\
   Archive Page
\* ================================================================== */

.post-archive {
    position: relative;
    overflow: hidden;

    .post-list {
        margin:0 0 2rem 0;
    }

    .year, .pub_date, .category {
        text-transform: uppercase;
        letter-spacing: 0.125rem;
    }

    .category {
        font-weight:bold;
        color:@gray;
    }

    .category, .pub_date {
        font-size:@9-size;
    }

    .pub_date, .year {
        font-family: @heading-font-family;
    }

    .pub_date {
        color: @gray;
        font-weight:bold;
    }

    .title {
        margin:0;
        max-width: 500px;
        a {
            color:@heading-font-color;
        }
    }

    .year {
        font-size:@4-size;
        margin-top:4rem;
        margin-bottom:2rem;
        color:@heading-font-color;

        &:first-child{
            margin-top:0;
        }
    }

    .crossbars {
        &:before, &:after {
            background-color:@red;
            height:2px;
            margin-top:0;
        }
    }
}


/* ================================================================== *\
   Cateogry Page
\* ================================================================== */

.category-header {
    margin-bottom: 2rem;
    color:@gray-light;
}


/* ================================================================== *\
   Footer
\* ================================================================== */

.footer {
    font-size:@9-size;
    font-family: @heading-font-family;

    .social {
        font-size:1.75rem;
        text-align: center;

        a {
            color: @heading-font-color;
        }
    }

    a {
        color: @heading-font-color;
    }

    .bottom {
        border-top:1px solid @gray-lighter;
        padding:1rem 0;
        color: @gray;
        letter-spacing: 1px;
        text-align: center;


        span {
            display:block;
        }
    }

    .useicons {
        font-size:200%;
        line-height:1rem;
        vertical-align: text-top;
    }
}

/* Medium-sized breakpoint */
@media only screen and (min-width: @grid-breakpoint-medium) {

    .footer {

        .social {
            width:100%;
            line-height:100%;
            height:50%;
            position: absolute;
            z-index:-1;

            a {
                color: @heading-font-color;
            }
        }


        .bottom {
            position: relative;
            text-align: left;
            z-index:2;

            span {
                display:inline-block;
            }
        }

    }
}

/* Medium-sized breakpoint 600px */
@media only screen and (min-width: @grid-breakpoint-medium) {

}
/* Large-sized breakpoint 960px */
@media only screen and (min-width: @grid-breakpoint-large) {

}


/* ================================================================== *\
   Error Messages
\* ================================================================== */

.flashes {
    list-style-type: none;
    text-align: center;
}

/* ================================================================== *\
   Other
\* ================================================================== */
.useicons {
    -webkit-font-smoothing: antialiased;
    font-family: 'icomoon' !important;
    text-decoration: none;
    color:inherit;
}

.admin-link {
    position:fixed;
    top:0;
    left:0;
    width:35px;
    height:35px;
    line-height:35px;
    background: @heading-font-color;
    color:@white;
    border-radius: 0 0 3px;
    font-size:1rem;
    text-align: center;
}



@import 'libs/ss-social.less';                 // SS Social Icons
@import 'libs/icomoon.less';                   // Other Icons
@import 'libs/cardinal/print.less';            // Inlined, barebones print stylesf
