// User Variables - overwrite framework variables here

// Font Sizes (http://cardinalcss.com/#typography)
@0-size: 4.209rem;
@1-size: 3.157rem;
@2-size: 2.369rem;
@3-size: 2rem;
@4-size: 1.777rem;
@5-size: 1.5rem; //24 px
@6-size: 1.333rem;
@7-size: 1.125rem;
@8-size: 1rem; //16px 
@9-size: 0.844rem;
@10-size: 0.475rem;


// Grayscale
@black:                            #222;
@gray-darkest:                     #2C3E50;
@gray-darker:                      #34495E;
@gray-dark:                        #7F8C8D;
@gray:                             #95A5A6;
@gray-light:                       #BDC3C7;
@gray-lighter:                     #ECF0F1;
@gray-lightest:                    #f8f8f8;
@white:                            #fff;

// COlors!
@red: #C0392B;
@green: #16A085;
@blue: #2980B9;
@purple: #8E44AD;
@orange: #D35400;
@turquoise: #1ABC9C;

// Text selections
@selection-background-color:       @gray-light;

// Typography
@base-font-color:                  @gray-darkest;
@base-font-family:                 'Open Sans', sans-serif;
@base-muted-color:                 @gray-darker;
@base-line-height:                 1.75;
@base-rem-unit:                    @7-size;
@base-link-color:                  @base-font-color;
@base-link-hover-color:            @red;

// Blockquotes
@blockquote-font-family:           "Times New Roman", serif;
@blockquote-border-width:          0.375rem;

// Headings
@heading-font-color:               @black;
@heading-font-family:              'EB Garamond', serif;

// Syntax
@syntax-font-color:                @gray-darkest;
@syntax-font-family:               Monaco, "Lucida Sans Typewriter", Consolas, "Courier New", monospace;

// Buttons
@button-primary-background:        #1fa3ec;
@button-primary-hover-background:  #3eb0ef;
@button-primary-active-background: #1291d7;

@nav-font-family:                  @heading-font-family;

@button-primary-background:        @blue;
@button-primary-hover-background:  lighten(@blue, 20%);
@button-primary-active-background: lighten(@blue, 20%);

// Link styles








