{% import "macros/_wtf.html" as wtf -%}
        <form class="form new-post post-form" method="post" action="{{url_for('admin.PostAdmin:post')}}">
                {{ newForm.hidden_tag() }}
                <div class="title-input">
                {{ wtf.no_label_field(newForm.title, class="title", placeholder='New Post') }}
                </div>
            <fieldset class="new-post-settings fieldset-border hidden">
            <legend class="small-caps">New Post Settings</legend>
                {{ wtf.no_label_field(newForm.category, class="category", placeholder='Category or Link') }}
                <div class="radio-group kind cf float-left">
                    {%- for subfield in newForm.kind -%}
                    {{ wtf.radio_buttons(subfield, class="kind") }}
                    {%- endfor -%}
                </div>
                <button type="submit" class="float-right button button-primary">Submit</button>
            </fieldset>
        </form>