{% extends "_base.html" %}
{% set css_name = 'admin' %}

    {%- block siteheader -%} 
    {%- endblock -%} 

    {%- block adminnav %}
        {%- if current_user.has_role('admin') -%}
        <div class="admin-nav">
            <a class="useicons" href="{{url_for('admin.PostAdmin:index')}}">&#xe600;</a>
            <a class="save-button useicons" href="#">&#xe60c;</a>
            <a class="settings-button useicons" href="#">&#xe617;</a>
            <a class="preview-button useicons" href="#">&#xe63c;</a>
        </div>
        {%- endif -%}
    {%- endblock adminnav %}

    {%- block footer %}
    {%- endblock -%} 

    {%- block footer_js %}
    {%- if current_user.has_role('admin') %}
        <script>
            {%- block post_js %}
            var {{ config.PROJECT }} = {}; //namespace everything under here.
            
            {{ config.PROJECT }}.postsBootstrap = [
                {%- for post in g.posts -%}
                {{post.to_dict()|safe}},
                {%- endfor -%}
            ];
            {{ config.PROJECT }}.pagesBootstrap = [
                {%- for post in g.pages -%}
                    {{post.to_dict()|safe}},
                {%- endfor -%}
            ];
            {%- endblock post_js -%}

            {{ config.PROJECT }}.childView = {%- block js_view %}null{%- endblock js_view -%};

            {{ config.PROJECT }}.postURL = '{{url_for('admin.PostAdmin:index')}}';

            {{ config.PROJECT }}.currentUser = {
                                'id'     : '{{current_user.id}}',
                                'roles'  : [{% for role in current_user.roles %}'{{role.name}}'{% endfor %}],
                                'email'  : '{{current_user.email}}'
                              };
        </script>
        <script data-main="{{ url_for('static', filename='js/app')}}" src="{{ url_for('static', filename='js/libs/require.js')}}"></script>
    {%- endif -%}
    {% endblock footer_js -%}