{% extends "_base.html" %}
{% import "macros/_css.html" as css %}

    {%- block css -%}
        {{ css.render_css('admin') }}
    {%- endblock -%}

    {%- block siteheader -%}
    <nav class="admin-nav push">
        <a href ="#menu" class="menu-link useicons">&#xe63f;</a>
    </nav>

    <nav id="menu" class="panel" role="navigation">
        <div class="panel-inner small-caps">
        <ul>
            <li><a href="{{url_for('admin.index')}}"><img src="{{current_user.avatar(32)}}" class="image"> Home</a></li>
            <li>
            {%- if not g.wrote_today -%}
                <a href="{{url_for('writer.today')}}">Write Today!</a>
            {%- endif -%}</li>
            <li><a href="{{url_for('admin.post_list')}}">Posts</a></li>
            <li><a href="{{url_for('admin.comments')}}">Comments</a></li>
            <li><a href="#"><span class="useicons">&#xe617;</span> Settings</a></li>
        </ul>
        </div>
    </nav>
    {%- endblock siteheader -%}

    {%- block sitefooter %}
    <div class="save-message"></div>
    {%- endblock sitefooter -%}

    {%- block footer_js %}
        <script>
            var {{ config.PROJECT }} = {}; //namespace everything under here.
            {%- block post_js %}
            {{ config.PROJECT }}.postsBootstrap = [
                {%- for post in g.all_pages -%}
                {{post.to_dict()|safe}},
                {%- endfor -%}
            ];
            {%- endblock post_js %}
            {{ config.PROJECT }}.dailyBootstrap = [
                {%- for entry in g.daily -%}
                    {{entry.to_dict()|safe}},
                {%- endfor -%}
            ];

            {{ config.PROJECT }}.childView = {%- block js_view %}null{%- endblock js_view -%};

            {{ config.PROJECT }}.postURL = '{{url_for('.index')}}';
            {{ config.PROJECT }}.signS3URL = '{{url_for('admin.signS3')}}';
            {{ config.PROJECT }}.daily_words = {% if g.daily_words %}true{%- else %}false{%- endif %};

            {{ config.PROJECT }}.user = {
                                'id'     : '{{current_user.id}}',
                                'roles'  : [{% for role in current_user.roles %}'{{role.name}}'{% endfor %}],
                                'email'  : '{{current_user.email}}'
                              };
        </script>
        {%- if config.PRODUCTION %}
        <script data-main="{{ url_for('static', filename='build/app.min')}}" src="{{ url_for('static', filename='build/require.js')}}"></script>
        {%- else %}
        <script data-main="{{ url_for('static', filename='js/app')}}" src="{{ url_for('static', filename='js/libs/require.js')}}"></script>
        {%- endif %}
    {% endblock footer_js -%}
