{% extends "admin/_admin_base.html" %}

{% block title %}Admin Area Dashboard{% endblock title %}

{%- block body_class %}admin-dash{%- endblock body_class -%}

{%- block content -%}
            <div class="grid grid-gutter-double">
                <div class="grid-item one-half">
                    <div class="daily">
                        <header>
                            <h3>Write Daily, Be Awesome</h3>
                            {% if g.wrote_today -%}
                                <a href="{{url_for('writer.today')}}">Good work today! All done.</a>
                            {%- else -%}
                                <a href="{{url_for('writer.today')}}">Write your words for today.</a>
                            {%- endif -%}
                        </header>
                        <div>
                            <span><b>Streak:</b> {{g.streak}}</span>
                            <!-- graph of streak or something -->
                        </div>
                    </div>
                    <div class="comments">
                        <!-- RECENT COMMENTS -->
                        {% if g.comments %}
                        <h3>Recent Comments</h3>
                            {% for comment in g.comments|sort(attribute='created_at',reverse=True) %}
                            {% if loop.index > 5 %}
                            {% else %}
                            <div class="admin-comment">
                                <img src="{{comment.avatar(48)}}" class="image">
                                <div class="cf">
                                <span class="h6 float-left name">{{comment.name}}</span>
                                <span class="float-right date">{{comment.created_at|time_ago}}</span>
                                </div>
                                <span class="post">on <a href="{{url_for('.comments', id=comment.post_id)}}">{{comment.post_title}}</a></span>
                                <div class="comment-content">{{comment.content|truncate(150)|markdown|safe}}</div>
                            </div>
                            {%- endif -%}
                            {% endfor %}
                        {%- endif -%}
                    </div>
                </div>

                <div class="grid-item one-half">
                    {%- include "admin/partials/_newpost.html" -%}
                    <div>
                        <!-- POST FREQUENCY GRAPH -->
                    </div>
                    <div>
                        {% for post in g.all_pages|sort(attribute='last_update',reverse=True) %}
                            {% if loop.index > 5 %}
                            {% else %}
                            <article class="post-partial {% if post.published %}published{% endif %} {{post.kind}}" data-id="{{post.id}}" data-published="{{post.published|lower}}" data-kind="{{post.kind}}">
                                    <div class="settings-toggle">
                                        <div class="cf">
                                            <a class="h3 float-left title" data-field="title" href="{{url_for('admin.post', id=post.id)}}">{{post.title}}</a>
                                            <span class="float-right kind small-caps {{post.kind}}">{{post.kind}}</span>
                                        </div>
                                        {%- if post.published %}
                                        <div class="pub_date small-caps">
                                            <span>{{post.pub_date|format_date}}</span>
                                        </div>
                                        {%- endif %}
                                    </div>
                                    {%- include "admin/partials/_post_settings.html" -%}
                            </article>
                            {% endif %}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
{%- endblock -%}

{%- block js_view %}'DashView'{%- endblock js_view -%}
