{% extends "admin/_admin_base.html" %}

{% block title %}Admin Area Dashboard{% endblock title %}

{%- block body_class %}admin-dash{%- endblock body_class -%}


{%- block siteheader -%} 
<nav class="admin-nav">
</nav>
{%- endblock siteheader -%} 

{%- block content -%}
            <div class="grid grid-gutter-half">
                <div class="grid-item one-half">
                    <header>
                        <h3>Write Daily, Be Awesome</h3>
                        {% if g.wrote_today -%}
                            <a href="{{url_for('writer.today')}}">Good work today! All done.</a>
                        {%- else -%}
                            <a href="{{url_for('writer.today')}}">Write your words for today.</a>
                        {%- endif -%}
                    </header>
                    <div>
                        <!-- graph of streak or something -->
                    </div>
                    <div>
                        <!-- RECENT COMMENTS -->
                    </div>
                </div>

                <div class="grid-item one-half">
                    {%- include "admin/partials/_newpost.html" -%}
                    <div>
                        <!-- POST FREQUENCY GRAPH -->
                    </div>
                    <div>
                        {% for post in g.all_pages|sort(attribute='last_update') %}
                            {% if loop.index > 5 %}
                            {% else %} 
                            <article class="post-partial {% if post.published %}published{% endif %} {{post.kind}}" data-id="{{post.id}}" data-published="{{post.published|lower}}" data-kind="{{post.kind}}">
                                    <div class="settings-toggle">
                                        <div class="cf">
                                            <a class="h3 float-left title" data-field="title" href="{{url_for('admin.post', slug=post.slug)}}">{{post.title}}</a>
                                            <span class="float-right kind small-caps {{post.kind}}">{{post.kind}}</span>
                                        </div>   
                                        {%- if post.published %}
                                        <div class="pub_date small-caps">
                                            <span>{{post.pub_date|format_date}}</span>
                                        </div>
                                        {%- endif %}
                                    </div>   
                                    {%- include "admin/partials/_post_settings.html" -%}
                            </article>
                            {% endif %}
                        {%- endfor -%}
                    </div>
                </div>
            </div>
{%- endblock -%}

{%- block js_view %}'DashView'{%- endblock js_view -%}
