{% extends "_base.html" %}
{% import "macros/_wtf.html" as wtf %}

{% block title %}Admin Area Place{% endblock title %}

{% block content %}
            {%- if current_user %}
            <p>{{current_user.email}}</p>
            {% endif -%}

            <form class="form" method="post" action="{{request.url}}">
                {{ form.hidden_tag() }}
                {{ wtf.regular_field(form.title, autofocus=autofocus) }}
                {{ form.kind }}
            </form>

            {%- for post in posts %}
            <article class="post-partial" data-id="{{post.id}}" data-published="{{post.published|lower}}" data-kind="{{post.kind}}">
                <div class="editable" contenteditable="true" data-field="title"><b>{{post.title}}</b></div>
                <div><a href="{{url_for('blog.post', slug=post.slug)}}">open</a></div>
                <div><a href="#" class="settings">settings</a></div>
                {% include "partials/_post_settings.html" %}
                <br/>
            </article>
            {% endfor -%}

{% endblock %}

{%- block js_view %}'AdminView'{%- endblock js_view -%}
