{% extends "admin/_adminbase.html" %}
{% import "macros/_wtf.html" as wtf %}

{% block title %}Admin Area Place{% endblock title %}

{% block content %}
            {%- if current_user %}
            <p>{{current_user.email}}</p>
            {% endif -%}

            <form class="form" method="post" action="{{request.url}}">
                {{ form.hidden_tag() }}
                {{ wtf.regular_field(form.title, autofocus=autofocus) }}
                {{ form.kind }}
            </form>

            {%- for post in g.posts %}
            <article class="post-partial {% if post.published %}published{% endif %}" data-id="{{post.id}}" data-published="{{post.published|lower}}" data-kind="{{post.kind}}">
                <h3 class="editable title" contenteditable="true" data-field="title">{{post.title}}</h3>
                <div><a href="{{url_for('admin.post', slug=post.slug)}}">open</a></div>
                <div><a href="#" class="settings">settings</a></div>
                {% include "partials/_post_settings.html" %}
            </article>
            {% endfor -%}

            {%- for post in g.pages %}
            <article class="post-partial {% if post.published %}published{% endif %}" data-id="{{post.id}}" data-published="{{post.published|lower}}" data-kind="{{post.kind}}">
                <h3 class="editable title" contenteditable="true" data-field="title">{{post.title}}</h3>
                <div><a href="{{url_for('admin.post', slug=post.slug)}}">open</a></div>
                <div><a href="#" class="settings">settings</a></div>
                {% include "partials/_post_settings.html" %}
            </article>
            {% endfor -%}

{% endblock %}

{%- block js_view %}'AdminView'{%- endblock js_view -%}
