{% extends "admin/_admin_base.html" %}

{% block content %}      
        <section class="post-full" data-id="{{post.id}}">
            <header>
                <h2 class="fuckyou" contenteditable>{{post.title}}</h2>
            </header>
            
            <article id="content-editor" class="content">
                {% if post.content %}{{post.content}}{% endif %}
            </article>
            
            {% include "partials/_post_settings.html" %}
        </section>
{% endblock %}

{%- block js_view %}'PageView'{%- endblock js_view -%}