{% extends "admin/_admin_base.html" %}

{% block content %}      
        <section class="post-edit" data-id="{{post.id}}">
            <header>
                <h2 class="title editor" contenteditable="true">{{post.title}}</h2>
            </header>
            
            <article>
                <textarea class="content editor" placeholder="Start writing..." autofocus>
                    {%- if post.content -%}{{post.content}}{%- endif -%}
                </textarea>
                <div class="content-preview"></div>
            </article>
            
            {% include "partials/_post_settings.html" %}
        </section>
{% endblock %}

{%- block js_view %}'PageView'{%- endblock js_view -%}