{% extends "admin/_admin_base.html" %}

{% block content %}      
        <section class="post-full" data-id="{{post.id}}">
            <header>
                <h2 {% if current_user.has_role('admin') -%}contenteditable="true"{% endif %} class="editable title" data-field="title">{{post.title}}</h2>
            </header>
            
            <article {% if current_user.has_role('admin') -%}contenteditable="true"{% endif %} class="editable content" data-field="content">
                {% if post.content %}{{post.content|safe}}{% endif %}
            </article>
            
            {% include "partials/_post_settings.html" %}
        </section>
{% endblock %}

{%- block js_view %}'PageView'{%- endblock js_view -%}