<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="ClearType" content="true">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- DNS prefetch -->
        <link rel="dns-prefetch" href="//ajax.googleapis.com">

        <title>{% block title %}Joe Hand{% endblock title %}</title>
        <meta name="description" content="{% block description %}{% endblock description %}">

        <!-- Styles -->

        {%- block css %}
        {%- if config.DEBUG %}
        {%- if not css_name -%}
            {%- set css_name = 'main' %}
        {%- endif -%} 
        {%- assets filters="less", output="build/" + css_name + ".min.css",
          "css/" + css_name + ".less" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {%- else -%} 
        {%- assets filters="less", output="build/" + css_name + ".min.css",
          "css/" + css_name + ".less" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets -%}
        {%- endif %} 
        {% endblock -%}

        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families:  [ 'EB+Garamond::latin', 'Open+Sans:400italic,400,700,300:latin' ]
            }
          });
        </script>
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div role="document" class="document">
        {%- block siteheader %}
            <div class="site-head wrapper cf">
                    <header role="banner" class="banner medium-float-left">
                        <h1 class="name small-caps"><a class="" href="{{url_for('blog.PostView:index')}}">Joe Hand</a></h1>
                    </header>
                {%- block navbar %}
                    <nav role="navigation" class="site-nav medium-float-right ">
                        <ul class="small-caps">
                        {%- for page in g.pages -%}
                        {%- if page.published %}
                            <li class="nav-item"><a href="{{url_for('blog.page', slug=page.slug)}}">{{page.title}}</a></li>
                        {%- endif -%}
                        {%- endfor %}
                            <li class="nav-item"><a href="{{url_for('blog.archive')}}">Archive</a></li>
                            <li class="nav-item"><a href="{{url_for('blog.notes', page=1)}}">Notes</a></li>
                        </ul>
                    </nav>
                {%- endblock navbar %}
            </div>
            <div class="site-head-border strip"></div>
        {%- endblock siteheader -%}

        {%- block main %}
            <main role="main" class="main wrapper"> 
                {%- block adminheader -%}
                {%- if current_user.has_role('admin') -%}
                <nav class="admin-nav">
                    <a class="admin-link small-caps useicons" href="{{url_for('admin.PostAdmin:index')}}">&#xe600;</a>
                </nav>
                {%- endif -%}
                {%- endblock adminheader -%}
                {%- with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                {%- endwith %}
                <div class="page-content">
                {%- block content %}
                {% endblock content %}
                </div>
            </main> <!-- main .container -->

            {%- block footer %}
            <footer role="contentinfo" class="footer">
                <div class="bottom cf">
                    {% include "partials/_social.html" %}
                    <div class="wrapper">
                    <span class="copyright medium-float-left"><a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Copyright © 2014</a> &nbsp;·&nbsp; Joe Hand</span>
                    <span class="made medium-float-right"><a href="{{url_for('blog.page', slug='about')}}#site">Made by <span class="useicons">&#xe635;</span></a></span>
                    </div>
                </div>
            </footer>
            {% endblock footer %}

        {%- endblock main %}
        </div> <!-- document -->

    {%- block footer_js %}
    {% endblock footer_js -%}
    </body>
</html>