{% extends "_base.html" %}
{% import "macros/_wtf.html" as wtf %}

{% block title %}Joe Hand{% endblock title %}

{% block content %}
        {% if current_user %}
            <form class="form form-horizontal" method="post" action="{{request.url}}">
              {{ form.hidden_tag() }}
              {{ wtf.regular_field(form.slug, autofocus=autofocus) }}
              {{ wtf.regular_field(form.title) }}
              <div class="form-group">
                <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
                  <button name="action_save" type="submit" data-loading-text="Submitting..." class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
        {% else %}
            <p>Please log in</p>
        {% endif %}
{% endblock %}
