{% extends "_base.html" %}


{% block additional_css %}
{% if current_user.has_role('admin') -%}
        <!-- CSS -->
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="{{url_for('static', filename='css/zenpen/style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/zenpen/fonts.css')}}" rel="stylesheet">
{% endif %}
{% endblock %}

{% block navbar %} 
{% endblock %} 

{% block content %}      
        <section class="post-full" data-id="{{post.id}}">
            <header {% if current_user.has_role('admin') -%}contenteditable="true"{% endif %} class="editable title" data-field="title">
                {{post.title}}
            </header>
            
            <article {% if current_user.has_role('admin') -%}contenteditable="true"{% endif %} class="editable content" data-field="content">
                {% if post.content %}{{post.content|safe}}{% endif %}
            </article>
            
            {% include "partials/_post_settings.html" %}

            <div class="ui">
                <div class="wrapper">
                    <div class="top editing">
                        <button class="fullscreen useicons" title="Toggle fullscreen">
                            &#xe000;
                        </button>
                        <button class="save useicons" title="Save Text">
                            &#xe003;
                        </button>
                        <div><a href="#" class="settings">settings</a></div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{%- block js_view %}'PageView'{%- endblock js_view -%}