{% extends "_base.html" %}


{% block additional_css %}
{% if current_user.has_role('admin') -%}
        <!-- CSS -->
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="{{url_for('static', filename='css/zenpen/style.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/zenpen/fonts.css')}}" rel="stylesheet">
{% endif %}
{% endblock %}

{% block content %}      
        <section class="writr" data-postid="{{post.id}}">
            <header {% if current_user.has_role('admin') -%}contenteditable="true"{% endif %} class="header">
                {{post.title}}
            </header>
            
            <article {% if current_user.has_role('admin') -%}contenteditable="true"{% endif %} class="content">
                {% if post.content %}{{post.content|safe}}{% endif %}
            </article>

            <div class="ui">
                <div class="wrapper">
                    <div class="top editing">
                        <button class="fullscreen useicons" title="Toggle fullscreen">
                            &#xe000;
                        </button>
                        <button class="save useicons" title="Save Text">
                            &#xe003;
                        </button>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
