{% import "macros/_wtf.html" as wtf %}

{%- set form = post.form -%}
<form class="settings hidden post-form">
    <a class="useicons settings-close">&#xe625;</a>
    {{ form.hidden_tag() }}
    <fieldset class="">
            <a class="publish-button button button-mini small-caps{% if post.published %} published{% endif %}">{% if post.published %}Unpublish{% else %}Publish!{% endif %}</a>

            {{ wtf.regular_field(form.title, class="title") }}
            {{ wtf.regular_field(form.slug, class="slug") }}

            {%- if post.kind == 'article' %}
                {%- if post.category %}
                {{ wtf.regular_field(form.category, class="category", value=post.category) }}
                {%- else %}
                {{ wtf.regular_field(form.category, class="category", placeholder='Enter a Category') }}
                {%- endif %}
            {%- elif post.kind == 'note' %}
                {%- if post.link_url %}
                {{ wtf.regular_field(form.link_url, class="link_url", value=post.link_url) }}
                {%- else %}
                {{ wtf.regular_field(form.link_url, class="link_url", placeholder='Enter a Link') }}
                {%- endif %}
            {%- endif -%}

            {%- if post.pub_date %}
            {{ wtf.regular_field(form.pub_date, class="pub_date", value=post.pub_date|format_date('%Y-%m-%d')) }}
            {%- else %}
            {{ wtf.regular_field(form.pub_date, class="pub_date") }}
            {%- endif %}
            <div class="radio-group kind cf float-left">
                {%- for subfield in form.kind %}
                {{ wtf.radio_buttons(subfield, class="kind", label_class="button-small") }}
                {% endfor -%}
            </div>
            <a class="delete-button button button-mini small-caps">Delete</a>
    </fieldset>
</form>