            <section class="post-full" data-id="{{post.id}}">
                <header>
                    <h1 class="title"><a href="{{url_for('blog.post', slug=post.slug)}}">{{post.title}}</a></h1>
                    {%- if post.kind == 'article' %}
                    <h5 class="category editor small-caps">
                    {%- if post.category -%}{{post.category}}{%- else -%}Uncategorized{%- endif -%}
                    </h5>
                    {%- elif post.kind == 'note' %}
                    <h5 class="category small-caps">Note</h5>
                    {%- if post.link_url -%}
                    <h5 class="link_url">
                        <a href="{{post.link_url}}">
                        <span class="useicons">&#xe61e;</span><span class="link_url">{{post.link_url|get_domain}}</span>
                        </a>
                    </h5>
                    {%- endif -%}
                    {%- endif -%}
                </header>
                <article class="content">
                    {% if post.content %}{{post.content|markdown|safe}}{% endif %}
                </article>
            </section>