<div class="settings hidden">
    <form>
        <div>
            <span class="small-caps">Slug:</span>
            <span class="editable" contenteditable="true" data-field="slug">{{post.slug}}</span>
        </div>
        <div>
            <span class="small-caps">Kind:</span>
            {% for option in g.POST_TYPES -%}
                <label><input type="radio" {% if post.kind == option[0] %}checked="checked"{% endif %} name="kind" value="{{option[0]}}"/>{{option[1]}}</label>
            {%- endfor %}
        </div>
        {%- if post.pub_date %}
        <div>
            <span class="small-caps">Published Date:</span> <span class="editable" contenteditable="true" data-field="pub_date">{{post.pub_date.strftime('%d %b %Y')}}</span>
        </div>
        {% endif %}
        {%- if post.category %}
        <div>
            <span class="small-caps">Category:</span>
            <span class="editable category" contenteditable="true" data-field="category">{{post.category}}</span>
        </div>
        {% endif %}
        {%- if post.link_url %}
        <div>
            <span class="small-caps">Link URL:</span>
            <span class="editable link_url" contenteditable="true" data-field="link_url">{{post.link_url}}</span>
        </div>
        {% endif %}
        <div>
            <button class="publish button">{% if post.published %}Unpublish{% else %}Publish{% endif %}</button><button class="delete useicons">&#xe62d;</button>
        </div>
    </form>
</div>