{% import "macros/_wtf.html" as wtf %}

{% set form = post.form %}

<form class="settings hidden">
    {{ form.hidden_tag() }}
    <fieldset class="fieldset-border">
            <legend class="small-caps">{{post.kind}} Settings</legend>
            <div class="">
            {{ wtf.regular_field(form.slug, class="slug") }}
            {{ wtf.regular_field(form.kind, class="kind inline-radio") }}

            {%- if post.published %}
            {{ wtf.regular_field(form.pub_date, class="pub_date", value=post.pub_date.strftime('%Y-%m-%d')) }}
            {%- endif %}

            {%- if post.kind == 'article' %}
                {%- if post.category %}
                {{ wtf.regular_field(form.category, class="category", value=post.category) }}
                {%- else %}
                {{ wtf.regular_field(form.category, class="category", placeholder='Enter a Category') }}
                {%- endif %}
            {%- elif post.kind == 'note' %}
                {%- if post.link_url %}
                {{ wtf.regular_field(form.link_url, class="link_url", value=post.link_url) }}
                {%- else %}
                {{ wtf.regular_field(form.link_url, class="link_url", placeholder='Enter a Link') }}
                {%- endif %}
            {%- endif %}
            </div>
    </fieldset>
    <div class="form-group">
        <button class="publish button">{% if post.published %}Unpublish{% else %}Publish{% endif %}</button><button class="delete useicons">&#xe62d;</button>
    </div>
</form>